.color-palate {
  margin-top: 30px;
}

.color-palate-color {
  position: relative;
  padding: 9%;
  display: inline-block;
  margin: 1%;
}

.color-palate-btn {
  padding: 5px;
  font-size: 16px;
  width: calc(98%);
  margin: 1%;
}

.color-palate-color:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 9.5%;
  margin: 0.5%;
}

.color-palate-color.selected > div {
  position: absolute;
  font-size: 24px;
  top: 36%;
  left: 40%;
}
